.Top-Header {
  background-color: lightgreen;
  display: block;
  width: 100%;
  height: 2.5rem;
  position: absolute;
}

.Dashboard {
  position: absolute;
  top: 0;
  background-color: crimson;
  height: 91%;
  width: 10%;
  margin: 4rem 0;
}

