.TableMediaQ{
	transform: scale(0.95,1);
}

@media only screen and (max-width: 1440px) {
	.TableMediaQ {
	transform: scale(0.99,1);
}
}


@media only screen and (max-width: 1366px) {
	.TableMediaQ {
		margin-left: -2em;
	transform: scale(0.90,1);
}
}


@media only screen and (min-width: 2000px) {
	.TableMediaQ {
		transform: scale(1,1);
}
}

.table th {
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	background-color: #dee2e6;
	border: 0 !important;
}

.table tr:first-child td {
	border-top: 0;
}