.dashLinks {
	padding: 0 0 0 1rem;
	color: #fff;

}
.dashLink {
	padding: 0 0 0 .5rem;
	color: #fff;
}



.style {
  margin: 0;
  width: 100%;
  border: .5px solid #555;
  border-top: 0;
  border-bottom: 0;
  font-size: 1em;
  background-color: #666;
  color: #85C1E9;
  padding: 0.5rem 0 0 0.6rem;
}
.style-1::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.style-1::-webkit-scrollbar
{
  width: 6px;
  height: 6px;
  background-color: #F5F5F5;
}

.style-1::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: lightgray;
}