/*AddField {
  position: absolute;
  top: 3em;
  left: 20em;
  background-color: lightblue;
  width: 90%;
}

.btn{
  float: right;
}
*/
.addfield{
  padding: 10px;
  border: 2px solid #999999;
  border-radius: 4px;
}
.header {
  color:#666666;
  align-content: center;
}