.Login {
    margin-top: 80px;
    margin-bottom: 80px;
}

.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);  
}

.checkbox {
    margin-left: 1.3em;
}

.LoginButton {
   color: blue !important;
   margin-bottom: 2em;
}
